# Core data science libraries
torch
torch-geometric
numpy==1.24.3
pandas
scikit-learn==1.3.0
scikit-learn-extra==0.3.0
scipy
hdbscan
tslearn
matplotlib
seaborn
plotly
umap-learn
joblib
tqdm
natsort
networkx
python-louvain
fastparquet

